---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/quote/5cd96e05de30eff6ebcce7e9
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer real_key
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '74'
      X-Ratelimit-Reset:
      - '1659834616'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df-Etbq97HUr1MjbIvpipi+zF6omKE"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebcce7e9","dialog":"Deagol!","movie":"5cd95395de30eff6ebccde5d","character":"5cd99d4bde30eff6ebccfe9e","id":"5cd96e05de30eff6ebcce7e9"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 07 Aug 2022 01:04:05 GMT
recorded_with: VCR 6.1.0
