---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde56
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer real_key
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '77'
      X-Ratelimit-Reset:
      - '1659834616'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"124-rMpzkQgACxn6GAbybMj5DfZZN7A"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde56","name":"The Lord of the
        Rings Series","runtimeInMinutes":558,"budgetInMillions":281,"boxOfficeRevenueInMillions":2917,"academyAwardNominations":30,"academyAwardWins":17,"rottenTomatoesScore":94}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 07 Aug 2022 01:04:04 GMT
recorded_with: VCR 6.1.0
