---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/book?page=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer real_key
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1659834016'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f9-JgZcdSb+b6j5DD9OmAdx+oAT5vY"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"},{"_id":"5cf58077b53e011a64671583","name":"The Two Towers"},{"_id":"5cf58080b53e011a64671584","name":"The
        Return Of The King"}],"total":3,"limit":1000,"page":1,"pages":1}'
  recorded_at: Sun, 07 Aug 2022 00:59:32 GMT
recorded_with: VCR 6.1.0
