---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/book/5cf5805fb53e011a64671582
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer real_key
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '75'
      X-Ratelimit-Reset:
      - '1659834616'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-I7v5qLZewBm6kqSZlRMWqSKHi1k"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Sun, 07 Aug 2022 01:04:04 GMT
recorded_with: VCR 6.1.0
